body {
    text-align: center;
    background-color: aqua;
}
div {
    margin: auto
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-left: auto;
    margin-left: auto;
    background-color: aliceblue;
}
img{
    height: 400px;
    width: 400px;
}
img{
    width: 500px;
    height: 300px;
}